.button-with-style {
    -fx-background-color: rgb(68, 127, 239);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: #000000; /* You can change the text color as needed */
}

/* CSS Style for the Button when Hovered */
.button-with-style:hover {
    -fx-background-color: rgb(78, 41, 241);
    -fx-text-fill: black;
}

/* CSS Style for the Button when Pressed */
.button-with-style:pressed {
    -fx-background-color: rgb(53, 53, 236);
}